<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recordings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="row">
	<div class="col-md-12">

	  <h1>Recordings</h1>

	  <table class="table">
	    <tbody><tr>
		<th width="20%">Name</th>
		<th width="20%">Id</th>
		<th width="20%">recording duration</th>
		<th width="20%">started at</th>
		<th width="20%">stops at</th>
	      </tr>
	      {{ range $r := .recordings }}
	      <tr>
		<td>
		  <p><b>{{ $r.Config.Name }}</b>(<i>{{ $r.Config.Host }}:{{ $r.Config.Port}}</i>) at <b>{{ $r.Config.Stream }}</b></p>
		</td>
		<td>
		  <p>{{ $r.Id }}</p>
		</td>
		<td>
		  <p>{{ $r.WantDurationParsed }} ({{ $r.WantDurationS }} seconds) </p>
		</td>
		<td>
		  <p>{{ $r.Start }}</p>
		</td>
		<td>
		  <p> {{ $r.UntilDuration }}</p>
		</td>
	      </tr>
	      {{ end }}
	  </table>
	  <div class="form-group">
	    <button class="btn btn-outline-info" onclick="location.href='/listcameras'">List Cameras</button>
	  </div>

	</div>
  </body>
</html>
